#black-link {
  color: black;
}

#red-link {
  color: red;
}

#blue-link {
  color: blue;
}

#green-link {
  color: green;
}

#about-us {
  background-color: khaki;
}

.diva {
  height: 200px;
  width: 200px;
  background-color: red;
  display: inline-table;
}

.divb {
  height: 200px;
  width: 200px;
  background-color: green;
  display: inline-table;
}

.divc {
  height: 200px;
  width: 200px;
  background-color: blue;
  display: inline-table;
}

.divd {
  height: 200px;
  width: 200px;
  background-color: black;
  display: inline-table;
}

div.div-the-same {
  height: 200px;
  width: 200px;
  background-color: brown;
  margin: 10px;
  border: solid cornflowerblue;
  border-width: 10px;
}
